<h1>{{ name }}</h1>

<dl>
    <td>Nombre: </td>
    <tr>{{ name }}</tr>

    <td>Edad: </td>
    <tr>{{ edad }}</tr>

    <td>Metodo: </td>
    <tr>{{ getHeroDescription() }}</tr>

    <td>Capitalizado: </td>
    <tr>{{ capitalizeName }}</tr>
</dl>

<button *ngIf="name != 'Spiderman'" class="btn btn-primary mx-2" (click)="changeHero()">
  Cambiar nombre
</button>
<button *ngIf="edad != 25" class="btn btn-primary mx-2" (click)="changeAge()">
  Cambiar edad
</button>
<button class="btn btn-primary mx-2" (click)="resetForm()">
  reset
</button>